* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.navbar {
  height: 10vh;
  width: 100%;
  background: #201f1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.navbar .title {
  font-family: sans-serif;
  font-size: 25px;
  color: #fff;
}
.navbar .search_input {
  background: none;
  padding: 5px;
  color: #fff;
  display: flex;
  border: 2px solid #fff;
  border-radius: 15px;
  outline: none;
  font-size: 16px;
  width: 200px;
}
.navbar .search_input*:focus {
  outline: none;
}
.navbar .hamp {
  width: 40px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  z-index: 100;
}
.navbar .hamp .hamp_links {
  height: 7px;
  width: 40px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s;
}
.navbar .hampOpen .hamp_links:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 9px;
  transition: all 0.5s;
}
.navbar .hampOpen .hamp_links:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -9px;
  transition: all 0.5s;
}
.navbar .hampOpen .hamp_links:nth-child(2) {
  display: none;
  transition: all 0.5s;
}
.navbar .ulbar {
  position: fixed;
  top: 0;
  right: -50%;
  height: 100vh;
  width: 50%;
  background: #201f1f;
  padding-top: 10vh;
  padding-left: 20px;
  display: flex;
  align-items: start;
  flex-direction: column;
  transition: all 0.5s;
}
.navbar .ulbar .ulLinks {
  margin-top: 20px;
}
.navbar .ulbar .ulLinks .Links {
  font-family: sans-serif;
  color: #fff;
  font-weight: 700;
}
.navbar .ulbar_open {
  right: 0;
  transition: all 0.5s;
}

@media screen and (min-width: 1200px) {
  .navbar .hamp {
    display: none;
  }
  .navbar .ulbar {
    position: static;
    top: 0%;
    right: 0%;
    height: 7vh;
    width: 30%;
    padding-top: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    transition: all 0.5s;
  }
  .navbar .ulbar .ulLinks {
    margin-top: 0;
  }
  .navbar .ulbar .ulLinks .Links {
    font-family: sans-serif;
    color: #fff;
    font-weight: 700;
  }
}
.home {
  min-height: 100vh;
  background: #111;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
  padding-top: 30px;
  place-items: center;
}
.home .main_single_movie_handler {
  height: 400px;
  width: 300px;
  border-radius: 25px;
  background: #201f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.home .main_single_movie_handler img {
  border-radius: 10px;
}
.home .main_single_movie_handler h2 {
  margin: 5px;
  font-family: sans-serif;
  color: #fff;
}
.home .main_single_movie_handler .main_category {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home .main_single_movie_handler .main_category p {
  color: #e22210;
  font-family: sans-serif;
}

@media screen and (min-width: 810px) {
  .home {
    grid-template-columns: repeat(2, 1fr);
  }

  .navbar .search_input {
    width: 300px;
  }
}
@media screen and (min-width: 1126px) {
  .home {
    grid-template-columns: repeat(4, 1fr);
  }

  .navbar .search_input {
    width: 300px;
  }
}
@media screen and (min-width: 1500px) {
  .home {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1726px) {
  .home {
    grid-template-columns: repeat(6, 1fr);
  }

  .navbar .search_input {
    width: 300px;
  }
}
@media screen and (min-width: 2000px) {
  .home {
    grid-template-columns: repeat(7, 1fr);
  }

  .navbar .search_input {
    width: 300px;
  }
}/*# sourceMappingURL=style.css.map */